* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.logo_image {
  max-width: 128px;
}
.container {
  max-width: 1194px;
  margin: auto;
}
.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.auth {
  margin-left: auto;
}
.search_form {
  margin-left: 76px;
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
  display: flex;
  max-width: 620px;
  flex-grow: 1;
  position: relative;
}
.search_input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 20px 13px;
}
.search_button {
  background-color: transparrent;
  border: none;
  position: absolute;
  right: 0;
  height: 100%;
  padding-right: 18px;
  padding-left: 18px;
  cursor: pointer;
}
.login {
  background: #ebebeb;
  border-radius: 50px;
  padding: 16px 30px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.shopping_cart {
  position: relative;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background: #f66a15;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  text-decoration: none;
}
.shopping_counter {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #ffaf19;
  font-size: 8px;
  line-height: 9px;
  color: #000000;
  display: block;
  padding: 5px;
  border-radius: 50%;
}
